{
  "blocks": [
    {
      "type": "header",
      "text": {
        "type": "plain_text",
        "text": "Server _HOSTNAME_ Status _STATUS_ICON_",
        "emoji": true
      }
    },
    {
      "type": "divider"
    },
    {
      "type": "section",
      "text": {
        "type": "mrkdwn",
        "text": "```Container Status:\n_CONTAINER_STATUS_```"
      }
    }
  ]
}
