SHELL=/bin/bash
MAILTO=root@example.com
PATH=/bin:/sbin:/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin

SLACK_URL=""
XSERVER_PATH="/root/x-servers"
XSERVERS_DATA_PATH="/root/x-servers-data"

#Update node & images
0 0 * * 0 "${XSERVER_PATH}"/cronjobs/update-x-servers.sh
