---
wg_force_update: false
wg_timezone: "Asia/Kolkata"
wg_server_url: auto
wg_server_port: 51821
wg_peers: 1
wg_peer_dns: auto
#wg_internal_subnet: "172.32.1.0"
#wg_allowed_ips: "0.0.0.0/0"
#wg_log_confs: true
